.Link{
    @apply shadow-2xl shadow-orange-600/5 print:block print:rounded-none print:bg-transparent print:p-0 print:shadow-none;
    grid-row-end: auto;
    padding: 1rem;
    margin: 0;
    border-radius: 0.75rem/* 12px */;
    background-color: #00000022;
}

//Media print
.Link{}